@let g = guide();
<div class="head">
  <div class="titles">
    <h3 #heading [id]="headingId()" tabindex="-1">{{ title() }}</h3>
    <p class="question">{{ g.question }}</p>
  </div>
  <ng-content select="[legend]" />
</div>
<ng-content />
<ng-content select="[caption]" />
<div class="help">
  <button type="button" class="link" (click)="about()"><i class="pi pi-book" aria-hidden="true"></i> About this chart</button>
  <button #walk type="button" class="link" [attr.aria-expanded]="walking()" (click)="toggleWalk()"><i class="pi pi-directions" aria-hidden="true"></i> Walk me through it</button>
</div>
@if (walking()) {
  <app-golden-search-walkthrough [steps]="g.steps" [label]="'Walkthrough of ' + title()" (stepChange)="showStep($event)" (closed)="endWalk()" />
}
