<header class="bot-detail-banner">
  <div class="bot-detail-banner__topline">
    <a class="bot-detail-banner__back" [routerLink]="backLink()">
      <span aria-hidden="true">←</span>
      {{ backLabel() }}
    </a>

    <span class="bot-detail-banner__updated">
      Updated <app-timestamp-display [value]="updatedAtMs()" mode="local" />
    </span>
  </div>

  <div class="bot-detail-banner__body">
    <div class="bot-detail-banner__identity">
      <ng-content select="[botBannerIdentity]" />
      <ng-content select="[botBannerQuote]" />
    </div>

    <div class="bot-detail-banner__status">
      <ng-content select="[botBannerStatus]" />
    </div>

    <div class="bot-detail-banner__actions">
      <ng-content select="[botBannerAction]" />
      <ng-content select="[botBannerOverflow]" />
    </div>
  </div>
</header>
