:host {
  display: block;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #475569 transparent;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #475569;
    border-radius: 2px;
  }
}
