:host {
  display: block;
}

.runtime-banner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__more {
    font-size: 0.8rem;
  }

  &__more-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
}
